<div class="dropdown ">

    <button class="btn btn-primary dropdown-toggle btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span ng-bind="firstChoice">Select Task</span>
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">

        <!-- Unselectable header -->
        <li class="dropdown-header">Place</li>
        <li><a ng-click="openSecondTab('Market')" href="#">Market</a></li>
        <li><a ng-click="openSecondTab('School')" href="#">School</a></li>
        <li><a ng-click="openSecondTab('Hospital')" href="#">Hospital</a></li>
        <li><a ng-click="openSecondTab('Payments')" href="#">Payments</a></li>

    </ul>
</div>